
<div class="container-fluid">
    <div class="row">
        <div class=" d-none d-lg-block col-lg-12 col-md-12 col-sm-12">
            <img class="image1" src="assets/images/contact1.jpg">
            <div class="text1">
                <h1 class="visit" >Have a little something, something you wanna talk to <br/>
                us about? Well give us a ring, send us an email<br/>
                  or visit us now.!!</h1>
                  <mat-icon style="color: aliceblue;">mail_outline</mat-icon>
                  <p style="color: aliceblue;">nareshsindhi08@gmail.com</p>
                  <mat-icon style="color: aliceblue;">phone</mat-icon> 
                  <p style="color: aliceblue;">(+91) 7383473770 , (+91) 7572933829</p>
            </div>
        </div>
        <div class="d-none d-lg-block col-lg-6 col-md-6 col-sm-6">
            <img class="image2" src="assets/images/contact.jpg">
            <div class="text2">
                <h1 class="visit" >Jay Jhulelal Mobile Point,<br/>
                    Sonal Char Rasta, Subhash Chawk<br/>
                    Gurukul Road, Memnagar<br/>
                  Ahmedabad 380052</h1>
            </div>
        </div>
        <div class="d-none d-lg-block col-lg-6 col-sm-6 col-md-6">
   <img class="image3" src="assets/images/coming2.jpg">
   <div class="text3">
   <h1 class="date">{{todaysDate | date:'medium'}}</h1>
   </div>

        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class=" d-lg-none col-md-12 col-sm-12 col-xs-12">
            <img class="image1" src="assets/images/contact7.png">
            <!-- <div class="text1">

                <h1 class="visit" >Have a little something, something you wanna talk to <br/>
                us about? Well give us a ring, send us an email<br/>
                  or visit us now.!!</h1>
                  <mat-icon style="color: aliceblue;">mail_outline</mat-icon>
                  <p style="color: aliceblue;">nareshsindhi08@gmail.com</p>
                  <mat-icon style="color: aliceblue;">phone</mat-icon> 
                  <p style="color: aliceblue;">(+91) 7383473770 , (+91) 7572933829</p>
            </div> -->
        </div>
        <div class="d-lg-none col-md-12 col-sm-12 col-xs-12">
            <img class="image2" src="assets/images/contact6.png">
            <!-- <div class="text2">
                <h1 class="visit" >Jay Jhulelal Mobile Point,<br/>
                    Sonal Char Rasta, Subhash Chawk<br/>
                    Gurukul Road, Memnagar<br/>
                  Ahmedabad 380052</h1>
            </div> -->
        </div>
        <div class="d-lg-none col-sm-12 col-md-12 col-xs-12">
   <img class="image3" src="assets/images/coming2.jpg">
   <div class="text3">
   <h1 class="date">{{todaysDate | date:'medium'}}</h1>
   </div>

        </div>
    </div>
</div>