<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-lg-7 col-md-12 col-xs-12" >
          <img class="shop" src="assets/images/shop2.jpeg">
      </div>
          <div class="text-block d-none d-lg-block">
            <h4 class="merchant">TRUSTED MERCHANT</h4>
            <p style="color: indigo;">From 07 years</p>
          </div>

      
          <div class=" a col-sm-12 col-lg-5 col-md-12">
              <h2 class="h"> MERCHANT COMPANY</h2>
              <h1 class="about"> ABOUT US</h1>
                <p class="mission">Our Mission:Enhance Indian Mobile market and brands
                    <br/>
                 <p class="vision"> Our Vision: Customer Satisfactions is our foremost vision
              </p>
              <p class="para">Jay Jhulelal Mobile Point is one of the most reputed mobile shop in Ahmedabad.
                 From last seven years, we are serving our customers with best mobile phones with the cheapest
                  price ever. We always look for our customers convience first. Awarded by Airtel, JIO and many
                   other comapnies for best monthly performance.

              </p>
              <h1 style="font-size:large;">From Owner's Desk:</h1>
              <p class="owner"> When I take a photo of myself on my mobile I capture my soul with every click.
                I call them, 'soul selfies'.
                And let me tell you...I look great!</p>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
<div class="col-sm-12 col-lg-6 col-md-12">
          <mat-card class="example-card">
            <mat-card-header>
              <!-- <div mat-card-avatar class="example-header-image3"></div> -->
              <mat-icon mat-card-avatar>person</mat-icon>
              <mat-card-title>Naresh Sindhi</mat-card-title>
              <mat-card-subtitle>Owner of firm</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/images/papa.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                CEO of the firm
                <br/>
                A very successful Business man and having aim to fulfil all the requirements of the customers.
                Always ready to support the needy ones.
              </p>
            </mat-card-content>
            <mat-card-actions>
               <button mat-raised-button color="primary">Contact Details</button>
               &nbsp;&nbsp;<a href="tel:+91-7383473770"><button mat-raised-button color="accent">(+91) 7383473770</button></a>
            </mat-card-actions>
          </mat-card>
</div>
<div class="col-sm-12 col-lg-6 col-md-12">
          <mat-card class="example-card">
            <mat-card-header>
              <!-- <div mat-card-avatar class="example-header-image3"></div> -->
              <mat-icon mat-card-avatar>person</mat-icon>
              <mat-card-title>Tarun Sindhi</mat-card-title>
              <mat-card-subtitle>Co owner of firm</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image class="tallu" src="assets/images/talluS.jpeg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
               An undergraduate B.Com student with awesome mindset of business. 
               Very well known for his brilliant repairing and also praised by many customers for his well behaviour.
              </p>
            </mat-card-content>
            <mat-card-actions>
               <button mat-raised-button color="primary">Contact Details:</button>
               &nbsp;&nbsp;<a href="tel:7572933829"><button mat-raised-button color="accent">(+91) 7572933829</button></a>
            </mat-card-actions>
          </mat-card>
                </div>
        <br/>
        
              </div>
          </div>
          