

<div class="container-fluid">
    <div class="d-none d-lg-block">
<nav class="navbar navbar-dark fixed-top flex-md-nowrap p-0 shadow" style="background-color: #000000;">
    <a class="navbar-brand col-sm-4 col-md-3 mr-0" routerLink="/home" style="background-color: #3f3e97;">
        <i class="fas fa-mobile" ></i> &nbsp; Jay jhulelal Mobile Point
    </a>
    <ul class="navbar-nav px-3" >
        <li class="nav-item" class="zoom">
            <a  routerLink="/home"> <span class="text-white" style="font-size: large;">Home &nbsp;<i class="fa fa-home" aria-hidden="true"></i></span></a>
        </li>
    </ul>
    <ul class="navbar-nav px-3">
        <li class="nav-item" class="zoom">
           <a routerLink="/about"> <span class="text-white" style="font-size: large;">About us &nbsp;<i class="fa fa-question" aria-hidden="true"></i></span></a>
        </li>
    </ul>
    <ul class="navbar-nav px-3">
        <li class="nav-item" class="zoom">
            <a routerLink="/products">   <span class="text-white" style="font-size: large;">Products &nbsp;<i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a>
        </li>
    </ul>
    <ul class="navbar-nav px-3">
        <li class="nav-item" class="zoom">
            <a routerLink="/offer">   <span class="text-white" style="font-size: large;">Special Offer &nbsp;<i class="fa fa-fire" aria-hidden="true"></i></span></a>
        </li>
    </ul>
    <ul class="navbar-nav px-3">
        <li class="nav-item" class="zoom">
            <a routerLink="/testimonials"> <span class="text-white" style="font-size: large;">Testimonials &nbsp;<i class="fa fa-quote-right" aria-hidden="true"></i></span></a>
        </li>
    </ul>
    <ul class="navbar-nav px-3">
        <li class="nav-item" class="zoom">
            <a routerLink="/userreview"> <span class="text-white" style="font-size: large;">Reviews &nbsp;<i class="fa fa-thumbs-up" aria-hidden="true"></i></span></a>
        </li>
    </ul>
    <ul class="navbar-nav px-3">
        <li class="nav-item"class="zoom">
            <a routerLink="/contact">  <span class="text-white" style="font-size: large;">Contact Us &nbsp;<i class="fa fa-phone" aria-hidden="true"></i></span></a>
        </li>
    </ul>    
</nav>
</div>
</div>