<br/>
<br/>
<br/>
<br/>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
        <h1 class="review">Thank you so much</h1>
        </div>
        
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <br/>
            <form [formGroup]="addreview" >

                <div class="row" >
                    <div class="col-xs-12">
                      <p class="alert alert-success">
                          <strong><a routerLink="/reviews">Yoyaah..!! Review Submitted &nbsp;&nbsp;<button class="btn btn-outline-danger">Click Here</button></a></strong> 
            
                      </p>
                      <br/>
                    </div>
                  </div>
                 
    <!-- First Name Text Box -->
    <div class="form-group row">
        <label for="firstName" class="a col-lg-4 col-sm-12 col-xs-12 col-md-12 font-weight-bold">
            First Name:
        </label>
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <input type="text" class="form-control " placeholder="*******" style="width: 80%;">
        </div>
    </div>
    <!--First Name Text Box ends here-->
    <!-- Last Name Text Box -->
    <div class="form-group row">
        <label for="lastName" class="a col-lg-4 font-weight-bold">
            Last Name:
        </label>
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">


            <input type="text" class="form-control " placeholder="******" style="width: 80%;">
    </div>
    </div>
    <!-- Age Text Box -->
    <!-- Mobile NumberText Box -->
    <div class="form-group row">
        <label for="mobileNumber" class="a col-lg-4 font-weight-bold">
            Mobile Number:
        </label>
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">


            <input type="text" class="form-control" placeholder="**********"
                 style="width: 80%;" maxlength="10">
            
        </div>
    </div>
    <!-- Email Text Box -->
    <div class="form-group row">
        <label for="email" class="a col-lg-4 font-weight-bold">
            Email:
        </label>
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">


            <input type="email" class="form-control " placeholder="*******"  style="width: 80%;">
           
    </div>
    </div>
    <div class="form-group row">
        <label for="feedback" class=" a col-lg-4 font-weight-bold">
            Your valuable feedback:
        </label>
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">


            <input type="text" class="form-control " placeholder="********" style="width: 80%;">
            
    </div>
    </div>
    <div class="form-group row">
        <label for="rating" class=" a col-lg-4 font-weight-bold">
            Your review please
            </label>
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
            
            
                <input type="radio" value="5" formControlName="rating"> Excellent
                <input type="radio" value="4" formControlName="rating"> Very Good
                <input type="radio" value="3" formControlName="rating"> Good
                <input type="radio" value="2" formControlName="rating"> Average
                <input type="radio" value="1" formControlName="rating"> Not satisfied
            </div>
            </div>
        
    
    <!-- Validation Messages -->

        </form>
       
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-4"><img  class="image" src="assets/images/thank1.gif"></div>
    </div>
    
    </div>
    <br/>
    <br/>