

<img class="homeimage" src="assets/images/mobile3.jpg">
<div class="top-left d-none d-lg-block">SHOP WITH US</div>
<br/>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-xs-12 col-lg-4 col-md-12 justify-content-around">
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image1"></div>
      <mat-card-title>Mobile Phones</mat-card-title>
      <mat-card-subtitle>Branded Mobile Phones</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/images/home.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        We offer you with the best mobile phones with the best ever prices in Ahmedabad.
         During this pandemic, use your phones to remain connected to your loved ones which 
         are far away from you.<br/>
         "As Long as you have a Cell Phone, You're never alone."<br>
         - Stanley Victor Paskavich
      </p>
    </mat-card-content>
    <mat-card-actions>
        <a routerLink="/contact"><button mat-raised-button color="primary">Buy Now</button></a>
        &nbsp;&nbsp;
        <a routerLink="/offer"><button mat-raised-button color="accent">Click for more offers</button></a>
    </mat-card-actions>
  </mat-card>
</div>
  <div class="col-sm-12 col-xs-12 col-lg-4 col-md-12 display:inline-block;">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image2"></div>
      <mat-card-title>Mobile Repairing</mat-card-title>
      <mat-card-subtitle>You can call us Mobile's doctor</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/images/repairing2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        REPAIRS..!! While you wait.<br/>
        We always use the right tool for the right job in the right way.</p>
        <ul>
            <li>Screen Repairing</li>
            <li>Water damaged</li>
            <li>Software problem</li>
            <li>Charging socket, Mike, Speaker etc</li>
            
        </ul>
      
    </mat-card-content>
    <mat-card-actions>
        <a routerLink="/contact"><button mat-raised-button color="primary">Want to Repair</button></a>
        &nbsp;&nbsp;
       <a routerLink="/userreview"> <button mat-raised-button color="accent">Repairing statistics</button></a>
    </mat-card-actions>
  </mat-card>
  </div>
  <div class="col-sm-12 col-xs-12 col-lg-4 col-md-12">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image3"></div>
          <mat-card-title>Tablets</mat-card-title>
          <mat-card-subtitle>Tablet which you want</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/home4.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Online classes? Bored in Pandemic? Missing loved ones?
            <br/>
            Just don't worry. We are here with the best tablets for all your problems.
            Use these tablets for online classes, playing games or even face calling with your loved ones.
            <br>
           Still confused? Visit us once..!!
          </p>
        </mat-card-content>
        <mat-card-actions>
           <a routerLink="/contact"> <button mat-raised-button color="primary">Want to buy Tablet</button></a>
           &nbsp;&nbsp;<a routerLink="/products"><button mat-raised-button color="accent">More Products</button></a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  </div>
<br/>
