<div class="container">
    <!-- <br/>
    <br/>
    <br/><br/> -->
    <div class="row">
        <!-- <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <img src="assets/images/offer1.gif">
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
         <img src="assets/images/offer.gif">
         </div> -->
        <div class="col-lg-6 col-md-10 col-sm-12 col-xs-12">
            <img class="rakhi" src="assets/images/rakhi.jpg">
            <div class="tuffen">
                <p class="discount3">3 Tempered Glass at the price of <i class="fa fa-rupee" aria-hidden="true"></i>200</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <img class="rakhi" src="assets/images/vivo2.jpeg">
            <div class="pad">
            <p class="discount"><i class="fa fa-rupee" aria-hidden="true"></i> 20000</p><p class="discount2"><i class="fa fa-rupee" aria-hidden="true"></i> 15999/-</p>
        </div>
        
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <img class="rakhi" src="assets/images/exchange.jpg">
        <div class="exchange">
            <p class="discount3">Discount upto <i class="fa fa-rupee" aria-hidden="true"></i> 10000</p>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <img class="rakhi" src="assets/images/sale1.jpg">
        <div class="sale">
            <p class="discount3">   30-50 % OFF</p>
        </div>
    </div>
  </div>
</div>
<br/><br/>
<!-- <br/><br/> --> 










