<br/><br/><br/><br/>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <h1 class="feedback">Thank you so much for your valuable feedback</h1>
<table class="table table-striped table-responsive table-hover" style="text-align:center;" >
    <thead>
        <tr>
            <th class="text-hide" > Id</th>
            <th >First Name</th>
            <th >Last Name</th>
            <th > Email</th>
            <th >Feedback</th>
            <th >Rating</th>
        </tr>
    </thead>
    <tbody>
        <tr >
            <td class="text-hide" style="background-color:#bbffc0">1</td>
            <td data-label="First Name" style="background-color:#bbffc0">Kapil</td>
            <td data-label="Last Name" style="background-color:#bbffc0">Ashok Bachchani</td>
            <td data-label="Email" style="background-color:#bbffc0">kapil@gmail.com</td>
            <td data-label="Feedback" style="background-color:#bbffc0">Hats of to their repairing</td>
            <td data-label="Rating" style="background-color:#bbffc0"><button color="primary" mat-mini-fab>5</button></td>
                        </tr>
                        <tr >
                            <td class="text-hide" style="background-color:#bbffc0">2</td>
                            <td data-label="First Name" style="background-color:#bbffc0">Yash</td>
                            <td data-label="Last Name" style="background-color:#bbffc0">Sachdev</td>
                            <td data-label="Email" style="background-color:#bbffc0">yash32@yahoo.com</td>
                            <td data-label="Feedback" style="background-color:#bbffc0">Awesome Prices for old phones</td>
                            <td data-label="Rating" style="background-color:#bbffc0"><button color="primary" mat-mini-fab>5</button></td>
                                        </tr>
                                        <tr>
                                            <td class="text-hide" style="background-color:#bbffc0">3</td>
                                            <td data-label="First Name" style="background-color:#bbffc0">Manthan</td>
                                            <td data-label="Last Name" style="background-color:#bbffc0">Desai</td>
                                            <td data-label="Email" style="background-color:#bbffc0">manthan321@gmail.com</td>
                                            <td data-label="Feedback" style="background-color:#bbffc0">Awesome speaker </td>
                                            <td data-label="Rating" style="background-color:#bbffc0"><button color="primary" mat-mini-fab>4</button></td>
                                                        </tr>
                                                        <tr >
                                                            <td class="text-hide" style="background-color:#bbffc0">4</td>
                                                            <td data-label="First Name" style="background-color:#bbffc0">Chiraj</td>
                                                            <td data-label="Last Name" style="background-color:#bbffc0">Desai</td>
                                                            <td data-label="Email" style="background-color:#bbffc0">chirag@gmail.com</td>
                                                            <td data-label="Feedback" style="background-color:#bbffc0">Amazing outlet with lots of new stuff</td>
                                                            <td data-label="Rating" style="background-color:#bbffc0"><button color="primary" mat-mini-fab>5</button></td>
                                                                        </tr>
                        </tbody>
                        </table>
                        </div>
                        </div>
                        </div>
<br/>
<br/>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
<h1 class="testimonials"> Testimonials by our Valuable Customers</h1>
</div>
<br/>
<br/><br/>
<div class=" a col-lg-8 col-md-12 col-sm-12 col-xs-12 offset-2 ">
    <ngb-carousel>
        <ng-template ngbSlide>
            <img class="testi" src="assets/images/darshil 1.jpg" alt="Image 1" >
           

            <div class="d-none d-lg-block carousel-caption">
                <p class="  caption">Awesome Mobile Phones with a lot of variety</p>
            </div>
            <div class="row">
                <div class="d-md-none">
                <h1 style="text-align: center; font-family:Arial, Helvetica, sans-serif; font-size:22px; margin-left:1rem; margin-right:1rem;">Awesome Mobile Phones with a lot of variety</h1>
                </div>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img class="testi2" src="assets/images/kapil1.jpeg" alt="Image 2"  >
            
            <div class="d-none d-lg-block carousel-caption">
                <p class="caption">Repaired my water damaged Iphone. Hats off to repairing</p>
             </div>
             <div class="row">
                <div class="d-md-none">
                <h1 style="text-align: center; font-family:Arial, Helvetica, sans-serif; font-size:22px; margin-left:1rem; margin-right:1rem;">Repaired my water damaged Iphone. Hats off to repairing</h1>
                </div>
            </div>
        </ng-template>
       
        
        <ng-template ngbSlide>
            <img class="testi" src="assets/images/kanishk.jpg" alt="Image 3">
            <div class=" d-none d-lg-block carousel-caption">
                <p class="caption">Impressed by service. Best Mobile dealer in Ahmedabad</p>
             </div>
             <div class="row">
                <div class="d-md-none">
                <h1 style="text-align: center; font-family:Arial, Helvetica, sans-serif; font-size:22px; margin-left:1rem; margin-right:1rem;">Impressed by service. Best Mobile dealer in Ahmedabad</h1>
                </div>
            </div>
            </ng-template>

    </ngb-carousel>
    
</div>
</div>
</div>
