<br/><br>
<div class="container-fluid">
    <h1 class= "heading">Our Products</h1>
    <div class="row">
      <div class="col-sm-12 col-lg-4 col-md-12 col-xs-12" >
<img class="prod" src="assets/images/headphones.jpg">
<p class="headphones"> Stylish Headphones <br/></p>
<p class="headphones"><i class="fa fa-star" aria-hidden="true">  5.0</i>&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-heart" aria-dropeffect="move"> 57</i></p>

      </div>
      <div class="col-sm-12 col-lg-4 col-md-12 col-xs-12" >
       <img class="prod" src="assets/images/tuffen1.jpg">
       <p class="headphones">Reliable Tempered Glass</p>
       <p class="headphones"><i class="fa fa-star" aria-hidden="true">  5.0</i>&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-heart" aria-dropeffect="move"> 97</i></p>
      </div>
      <div class="col-sm-12 col-lg-4 col-md-12 col-xs-12" >
<img class="prod" src="assets/images/cover2.jpg">
<p class="headphones">Colourful Covers</p>
<p class="headphones"><i class="fa fa-star" aria-hidden="true">  5.0</i>&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-heart" aria-dropeffect="move"> 54</i></p>
      </div>
      <div class="col-sm-12 col-lg-4 col-md-12 col-xs-12" >
        <img class="prod" src="assets/images/power.png">
        <p class="headphones"> Long Lasting Power banks</p>
        <p class="headphones"><i class="fa fa-star" aria-hidden="true">  5.0</i>&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-heart" aria-dropeffect="move"> 24</i></p>
              </div>
              <div class="col-sm-12 col-lg-4 col-md-12 col-xs-12" >
               <img class="prod" src="assets/images/repairing3.jpg">
               <p class="headphones">Fast and Cheap repairing</p>
               <p class="headphones"><i class="fa fa-star" aria-hidden="true">  5.0</i>&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-heart" aria-dropeffect="move"> 87</i></p>
              </div>
              <div class="col-sm-12 col-lg-4 col-md-12 col-xs-12" >
        <img class="prod" src="assets/images/charger.jpeg">
        <p class="headphones">Fast Chargers</p>
        <p class="headphones"><i class="fa fa-star" aria-hidden="true">  5.0</i>&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-heart" aria-dropeffect="move"> 34</i></p>
              </div>
              <div class="col-sm-12 col-lg-4 col-md-12 col-xs-12" >
                <img class="prod" src="assets/images/earpods.jpg">
                <p class="headphones"> Branded Earpods</p>
                <p class="headphones"><i class="fa fa-star" aria-hidden="true">  5.0</i>&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-heart" aria-dropeffect="move">44</i></p>
                      </div>
                      <div class="col-sm-12 col-lg-4 col-md-12 col-xs-12" >
                       <img class="prod" src="assets/images/earphones.jpg">
                       <p class="headphones">Unbreakable Earphones</p>
                       <p class="headphones"><i class="fa fa-star" aria-hidden="true">  5.0</i>&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-heart" aria-dropeffect="move"> 67</i></p>
                      </div>
                      <div class="col-sm-12 col-lg-4 col-md-12 col-xs-12" >
                <img class="prod" src="assets/images/keyboard.jpg">
                <p class="headphones">Laptop Accessories</p>
                <p class="headphones"><i class="fa fa-star" aria-hidden="true">  5.0</i>&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-heart" aria-dropeffect="move"> 34</i></p>
            </div>       
                <div class="col-sm-12 col-lg-4 col-md-12 col-xs-12" >
                    <img class="prod" src="assets/images/memory.webp">
                    <p class="headphones"> Warranty Memory cards</p>
                    <p class="headphones"><i class="fa fa-star" aria-hidden="true">  5.0</i>&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-heart" aria-dropeffect="move"> 24</i></p>
                          </div>
                          <div class="col-sm-12 col-lg-4 col-md-12 col-xs-12" >
                           <img class="prod" src="assets/images/pendrive.jpg">
                           <p class="headphones">USB 3.0 SanDisk Pendrives</p>
                           <p class="headphones"><i class="fa fa-star" aria-hidden="true">  5.0</i>&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-heart" aria-dropeffect="move"> 87</i></p>
                          </div>
                          <div class="col-sm-12 col-lg-4 col-md-12 col-xs-12" >
                    <img class="prod" src="assets/images/sim.jpg">
                    <p class="headphones">New Sim Within 10 minutes</p>
                    <p class="headphones"><i class="fa fa-star" aria-hidden="true">  5.0</i>&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-heart" aria-dropeffect="move"> 34</i></p>
            </div>

            <div class="col-sm-12 col-lg-4 col-md-12 col-xs-12" >
                <img class="prod" src="assets/images/speaker.jpg">
                <p class="headphones"> Loud Bluetooth Speaker</p>
                <p class="headphones"><i class="fa fa-star" aria-hidden="true">  5.0</i>&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-heart" aria-dropeffect="move"> 24</i></p>
                      </div>
                      <div class="col-sm-12 col-lg-4 col-md-12 col-xs-12" >
                       <img class="prod" src="assets/images/hdmi.jpg">
                       <p class="headphones">High Speed HDMI cables and more</p>
                       <p class="headphones"><i class="fa fa-star" aria-hidden="true">  5.0</i>&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-heart" aria-dropeffect="move"> 87</i></p>
                      </div>
                      <div class="col-sm-12 col-lg-4 col-md-12 col-xs-12" >
                <img class="prod" src="assets/images/dish.jpg">
                <p class="headphones">All SetUp BOX connections</p>
                <p class="headphones"><i class="fa fa-star" aria-hidden="true">  5.0</i>&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-heart" aria-dropeffect="move"> 34</i></p>
        </div>
            </div>
</div>
<br/>
<br/>
<br/>